name: Build and Image Release
on:
  repository_dispatch:
  workflow_dispatch:      
    inputs:
      platform:
        description: "Select the platform"
        required: false
        default: "[linux/amd64,linux/arm64]"
        type: choice
        options:
          - [linux/amd64,linux/arm64]
          - [linux/amd64]
          - [linux/arm64]
          
      image:
        description: "Select the Image"
        required: false
        default: "all"
        type: choice
        options:
          - all
          - NapCat_api
          - Photopea
          
env:
  TZ: Asia/Shanghai
  UPLOAD_BIN_DIR: true

jobs:
  jobs_Build:
    name: Build for ${{ matrix.platform }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        platform: ${{ fromJSON(inputs.platform) }}
        
    env:
      time: ${{ needs.jod_Initial.outputs.time }}
      name: ${{ toLower(inputs.image) }}
      platform: ${{ toLower(replace(matrix.platform, '/', '_')) }}
    steps:       
      - name: Check out code
        uses: actions/checkout@v4        
     
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Buildx Build Docker image
        env:
          DOCKER_REPO: 3wlh/${{ env.name }}
        run: |
          cd ${{ inputs.image }}
          # TAG="--tag ${DOCKER_REPO}:$(date "+%Y.%m.%d_%H%M%S")"
          docker buildx build \
            --output "type=image" \
            --platform ${{ matrix.platform }} \
            --tag ${DOCKER_REPO}:latest \
            --file ./Dockerfile \
            . \
            --load

      - name: Docker Export images
        run: |
          test -d "/tmp/images" || mkdir -p "/tmp/images"
          image_name="3wlh/${{ env.name }}:latest"
          file="/tmp/images/${{ env.name }}-${{ env.platform }}.tar.gz"
          echo "${file} | ${image_name} "
          docker images
          docker save ${image_name} | gzip > ${file}
          ls "/tmp/images"
      
      - name: Upload Directory
        uses: actions/upload-artifact@main
        if: ${{ env.UPLOAD_BIN_DIR == 'true' }} 
        with:
          name: ${{ env.name }}-${{ env.platform }}
          path: /tmp/images
  
  jod_Release:
    name: Upload Release
    needs: jobs_Build
    runs-on: ubuntu-latest
    steps:
      - name: Initial
        run: |
          sudo timedatectl set-timezone "${TZ}"
          echo "time=$(date "+%Y.%m.%d_%H%M%S")" >> $GITHUB_ENV
          test -d "/tmp/images" || mkdir -p "/tmp/images"
       
      - name: Download Directory
        uses: actions/download-artifact@main
        with:
          path: /tmp/images
         
      - name: Upload to Release
        uses: softprops/action-gh-release@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.time }}
          files: /tmp/images/*